@font-face {
	font-family: 'AnonymousPro-Bold';
	src: url('font/AnonymousPro-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'AnonymousPro-BoldItalic';
	src: url('font/AnonymousPro-BoldItalic.ttf') format('truetype');
	font-weight: bold;
	font-style: italic;
}

@font-face {
	font-family: 'AnonymousPro-Italic';
	src: url('font/AnonymousPro-Italic.ttf') format('truetype');
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: 'AnonymousPro-Regular';
	src: url('font/AnonymousPro-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

body {
	background: black;
	color: white;
	padding: 20px;
	font-family: "AnonymousPro-Regular";
	font-size: 25px;
}

.cols {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	gap: 1rem;
	padding: 1rem 0;
	flex-wrap: wrap;
	width: 100%;
	box-sizing: border-box;
}

.left-col {
	flex: 1 1 65%;
	min-width: 800px;
	order: 1;
}

.right-col {
	min-width: 250px;
	text-align: right;
	box-sizing: border-box;
	order: 2;
}

.terminal {
	margin-top: -15px;
}

#terminal-input {
	flex-grow: 1;
	background: none;
	color: white;
	border: none;
	outline: none;
	font-family: "AnonymousPro-Regular";
	font-size: 25px;
	margin-top: 15px;
}

#terminal-input::placeholder {
	font-family: "AnonymousPro-Italic";
	opacity: 0.6;
}

.man-page, .ascii-container {
	position: relative;
	margin-top: -40px;
}

.ascii-container {
	font-family: monospace;
	font-size: 12px;
	line-height: 1.2;
	white-space: pre;
	box-sizing: border-box;
	top: 20px;
	width: 100%;
	overflow-x: auto;
	text-align: right;
	text-indent: 0;
}

.man-page {
	text-align: right;
	line-height: 30px;
	width: 100%;
}

.man-title {
	font-family: "AnonymousPro-Bold";
}

.content {
	width: 90%;
}

.content p {
	width: auto;
	max-width: 100%;
}

.content > div {
	display: none;
}

#content-home {
	display: block;
}

.cursor {
	display: inline-block;
	width: 0px;
	height: 1em;
	vertical-align: text-bottom;
	border-left: 2px solid currentColor;
	margin-left: 6px;
	animation: blink 0.7s steps(1) infinite;
}

@media (max-width: 1000px) {
	.cols {
		flex-direction: column;
		min-width: 0;
		flex: 1 1 100%;
	}
	.terminal, .content {
		width: 95%;
	}
	.man-page, .ascii-container {
		text-align: right;
		width: 155%;
		box-sizing: border-box;
		max-width: 155%;
	}
}

@media (min-width: 1000px) {
	.cols {
		flex-direction: row;
	}
	.right-col {
		flex: 1 1 30%;
		align-items: right;
	}
}

@keyframes blink {
	50% { opacity: 0; }
}

a {
	color: rgb(132, 42, 76);
}

img {
	max-width: 180px;
	width: 100%;
	height: auto;
}